* {
    font-family: "sans-serif";
}

.header {
    display:flex;
    justify-content: space-between;
    margin: 30px 10px 15px 10px;
}

.header img {
    height: 40px;
    width: auto;
}

.header input {
    border-radius: 25px;
    box-shadow:none;
    padding-left:15px;
}

.flex-basis {
    flex-basis: 50%;
}

hr {
    opacity: 0.2;
}

.google-toolbar {
    display: flex;
    justify-content: center;
}

.google-toolbar img {
    height:25px;
    width: auto;
}

.content {
    display: flex;
    justify-content: center;
    margin-left: 4%;
}

.first-result {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom:25px;
}

a {
    text-decoration: none;
}

a small {
    color:#006621; 
}

.results {
    padding: 5px 20px 20px 20px;
}

.bold {
    font-weight: 800;
}

footer {
    margin-top: 15px;
    justify-content: center;
    display:flex;
    height:90px;
    background-color:lightgray;
    opacity: 0.6;
}

.footer-content a {
    margin:10px;

}